@-webkit-keyframes ef1 {
    0% {
        -webkit-transform: scale(0);
    }
    20% {
        -webkit-transform: scale(0, 0.01); 
    }
    35% {
        -webkit-transform: scale(1, 0.01); 
    }
    50% {
        -webkit-transform: scale(1, 0.01); 
    }
    60% {
        -webkit-transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1);
    }
    100% {
    	opacity: 0;
    }
}
            
@-webkit-keyframes item1 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}

.card1 {
        $time: 0.8s;
                    
        position: relative;
        float: left;
    	border: solid 1px #999;
    	width: 72px;
        height: 100px;
        margin-right: 21px;
        
        .effect {
            position: absolute;
			width: 100%;
    		height: 100%;
            background: rgba(255, 255, 255, 0.8);
	        -webkit-animation: ef1 $time 1 linear;
        	-webkit-animation-fill-mode: forwards;
        }
        .item {
            position: absolute;
			width: 100%;
    		height: 100%;
            background: rgba(255, 255, 255, 0.8);
	        -webkit-animation: item1 $time 1 linear;
        	-webkit-animation-fill-mode: forwards;
        }
}
