@-webkit-keyframes ttlmenu {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 395px;
        left: 0;
    }
}

#menu .ttlMenu span.start {
    overflow: hidden;
    width: 395px;
    -webkit-animation: ttlmenu 1s 1;
}
